@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <h2 class="display-4">A RPJuegos</h2>
    <img src= "https://www.biworldwide.com/globalassets/es-co/solutions-es/juegos-virtuales/biw-game-arcade_hero.png" />
    <p>Pagina creada por Daniel Montalvo, Oriol Herrera, Alvaro Force y Pablo Vargas</p>
</div>
