@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Pagina creada por Daniel Montalvo, Oriol Herrera, Alvaro Force y Pablo Vargas</p>
</div>
